body {
  -ms-overflow-style: scrollbar; }



    .column {
      float: left;
      width: 100%;
      height: 300px; /* Should be removed. Only for demonstration */
    }
    @media (min-width: 600px) {
      .column{
        width: 33.33%;
      }
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }